<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    <p>{{post.content|linebreaks}}</p>
    <a href="{% url 'post_update' post.slug %}">Update this post</a> <br>
    <a href="{% url 'post_delete' post.slug %}">Delete this post</a> <br><br>
    {% if prev_post %}
        <a href="{% url 'post_page' prev_post.slug %}">Prev: {{prev_post}}</a> <br>
    {% endif %}
    {% if next_post %}
        <a href="{% url 'post_page' next_post.slug %}">Next: {{next_post}}</a>
    {% endif %}
</body>
</html>